/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  color: #000;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {}
a:hover {}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #000;
  background-color: #fff;
}
#site-title {
  padding-top: 1em;
  padding-bottom: 1em;
}
#site-title a:link,
#site-title a:visited {
  font-size: 1em;
  display: block;
  height: 100%;
}
#site-title a:hover {}
#site-logo {
  height: 100%;
  width: auto;
  margin: 0 0.5em;
  float: left;
}

a#nav-bttn:link,
a#nav-bttn:visited {
  color: #000;
  background: #fff;
}
a#nav-bttn:hover {}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border: 1em solid #fff;
  border-top: 0.5em solid #fff;
  background: #eee;
  box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
}

.access li {
  border-bottom: 2px solid #fff;
}
.access a:visited, 
.access a:active, 
.access a:link {
  color: #000 !important;
}
.access a:hover {
  background: #000;
  color: #fff !important;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
  background-color: #000;
  color: #eee;
  text-shadow: none;
}
a.add-place:hover {
  color: #fff;
}


/* =Forms
-------------------------------------------------------------- */

label {
/*  color: #806080;*/
}

input[type=text],
textarea {
/*  border: 1px solid #000; */
}

.required {
/*  color: red;*/
}

.bttn {
/*  color: #eee;*/
/*  background-color: #ff40ff;*/
/*  text-shadow: none;*/
}

.bttn:hover {
/*  color: #fff;*/
/*  background-color: #e500e5;*/
}

.fileinput-container {
  background-color: #00aaff;
  color: #f0f0f0;
  padding: 0.75em 1em;
  border: 0;
  margin: 0 0 0.667em;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-shadow: 1px -1px 0 #06A;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.fileinput-container.disabled {
  background-color: #e0e0e0;
  color: #f0f0f0;
  text-shadow: 1px -1px 0 #999;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}

a.reply-link {
  color: #eee;
  background: #000;
}

a.reply-link:hover {
  color: #fff;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #fff;
}
ul.recent-points {
  color: #000;
}
.recent-points li {
  border-bottom: 1px solid #ddd;
}
.recent-points li:hover {
  background: #eee;
}
.recent-points a {
  color: #000;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #000;
}


/* =Guidelines Chart
-------------------------------------------------------------- */

.guidelines-header {
  clear: both;
  padding-top: 0.75em;
  border-top: 1px solid #ddd;
}
.guidelines-header img {
  float: right;
  position: relative;
  z-index: 2;
}
.guidelines-header img + img {
  margin-right: -31px;
  z-index: 1;
  opacity: 0.25;
}
.eligibility-header {
  text-transform: uppercase;
  color: #777;
}
.eligible {
  float: left;
  width: 48%;
}
.non-eligible {
  float: right;
  width: 48%;
}
.muted {
  font-size: 0.85em;
  font-weight: normal;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  .access {
    border: 0;
    background: transparent;
    box-shadow: none;
  }
  .access li {
    border-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
}

@media only screen and (min-width: 1300px) {
}